.content-header {
    .logo {
        @media only screen and (min-width: 768px) {
                position: fixed;
                top: 20px;
                left: 20px;
                z-index: 20;
            }
        object {
            float: left;
            margin: 5px;
            width: 180px;
            max-width: 180px;
        }
    }
}